
/* Nav Bar */
.navbar {
  /* Photo by Murray Campbell on Unsplash https://unsplash.com/photos/B_TdfGFuGwA */
  background-image: url("/images/navbar_background_darker.jpg");
  font-size: 20px;
  color: #fafafa;
  padding: 20px;
  margin-bottom: 60px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
}

.navbar h3 {
  padding: 10px;
}

/* TODO: Combine logout_in styling with navbar lis. 
  Only difference right now is that logout_in needs 50px margin right. */
.logout_in {
  margin-right: 50px;
  padding: 5px;
  color: black;
  text-decoration: none;
  background-color: #fafafa;
  border-radius: 2px;
}

.logout_in:hover {
  color: #fafafa;
  background-color: #323232;
  box-shadow: 25px;
  border-radius: 5px;
}

.navbar ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 1 em;
}

.navbar li {
  color: black;
  padding: 10px;
  margin: 5px;
  background-color: #fafafa;
  border-radius: 2px;
}

.navbar li:hover {
  color: #fafafa;
  background-color: #323232;
  box-shadow: 25px;
  border-radius: 5px;
}

.navbar ul a {
  text-decoration: none;
  color: inherit;
}

/* Home Page */
.home_title {
  padding-bottom: 60px;
}

.home_cta {
  padding: 20px;
}

/* Sign Up Page */

.sign_up {
  margin: 20px;
}

.sign_up_form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Clock In Page */

.clock_in_form div{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 30px;
}

.clock_in_form button {
  font-weight: bold;
  font-size: 20px;
  background-color: #9ddeec;
  margin: 36px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 36px;
  padding-right: 36px;
  box-shadow: 2px 4px 4px darkgray;
  border-radius: 15px;
}

.clock_in_form button:hover {
  box-shadow: none;
}

.clock_status {
  font-weight: bold;
}

/* Summary Styling */

.summary_h2 {
  margin: 15px;
}

.main_content form {
  margin: 36px;
}

.main_content p {
  margin: 5px;
}

thead {
  font-size: 20px;
  font-weight: bold;
  background-color: #dfdfdf;
}

.tableTimesheet tbody{
  border: 1px black;
  border-collapse: collapse;
  
}

.tableTimesheet tr:nth-child(even){
  background-color: #dfdfdf;
}

.tableTimesheet td, th {
  text-align: center;
  border: 1px black;
  border-style: dashed;
  padding: 10px;
}

.total_hours {
  align-self: flex-end;
}

.total_hours span {
  margin: 10px;
  margin-left: 20px;
}

/* Edit Styling */

.editForm {
  display: flex;
  flex-direction: column;
  align-items: center
}

.editTable {
  margin: 50px;
  text-align: center;
}

.editTable td {
  padding: 5px;
}

.editTable th {
  background-color: #dfdfdf;
}

.update_hours_button {
  padding: 10px;
  padding-right: 10px;
  padding-left: 10px;
  font-weight: bold;
  color: #323232;
  background-color: #9ddeec;
  border-radius: 5px;
  box-shadow: 0px 4px 8px rgba(0,0,0,.7);
}

.update_hours_button:hover {
  box-shadow:  none;
}

.delete_button {
  font-weight: bold;
  color: white;
  text-align: center;
  width: 150px;
  margin: 36px;
  padding: 10px;
  background-color: #f5111b;
  border-radius: 5px;
  box-shadow: 0px 4px 8px rgba(0,0,0,.7), 0px 0px 0px #f5111b;
}

.delete_button:hover {
  box-shadow: none;
}

.delete_button a {
  text-decoration: none;
  color: inherit;
}

.edit_content {
  display: flex;
  align-items: center;
  flex-direction: column;
}

/* Error Page */

.error_table {
  margin: 20px;
  max-width: 500px;
  align-self: center;
}

.error_table td {
  padding: 5px;
}

.error_table tr:nth-child(even){
  background-color: #dfdfdf;
}