
/* Nav Bar */
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
}

.navbar h3 {
  padding: 10px;
}

.logout_in {
  padding-right: 50px;
}

.navbar ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 1 em;
}

.navbar li {
  padding: 10px;
}

.navbar li:hover {
  background-color: #c3f8ff;
  border-radius: 5px;
}

.navbar ul a {
  text-decoration: none;
  color: inherit;
}

/* Home Page */
.home_title {
  padding: 60px;
}

.home_cta {
  padding: 20px;
}