
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="navbar(userFirstName, isLoggedIn, currentPage)" class="navbar">
    <h3>Welcome, <span th:text="${userFirstName}"></span>!</h3>
<!-- Displays Log in or log out depending on logged in status-->
    <a class="logout_in" th:if="${isLoggedIn == true && currentPage != 'home'}" th:href="@{'/logout'}">Logout</a>
    <a class="logout_in" th:if="${isLoggedIn == false && currentPage != 'home'}" th:href="@{'/login'}">Login</a>
    <ul>
<!-- Nav bar checks which page it is on and turns off unnecessary buttons, huge thanks to David for the idea!-->
        <li th:if="${currentPage != 'home' && currentPage != 'summary' && currentPage != 'signup'}"><a
                th:href="@{'/summary'}">
            Hours
            Summary</a></li>
        <li th:if="${currentPage != 'home' && currentPage != 'clock_in' && currentPage != 'signup'}"><a
                th:href="@{'/recordHour'}">
            Clock In Page</a></li>
    </ul>

</div>