<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Edit Page</title>
</head>
<body>

<table class = "editTable">
    <h3>Edit your hours</h3>
    <tr>
        <th>DAY</th>
        <th>DATE</th>
        <th>TIME-IN</th>
        <th>TIME-OUT</th>
        <th>LUNCH-IN</th>
        <th>LUNCH-OUT</th>
        <th>DAILY-WORKED-HOURS</th>
    </tr>

    <tr>
        <form action="/edit" method="POST">
            <input type="hidden" name="dayId" th:value="${currentDay.getId()}">
            <td th:text="${#temporals.dayOfWeekName(currentDay.getClockIn())}"></td>
            <td th:text="${#temporals.format(currentDay.getClockIn(), 'MM-dd-yyyy')}"></td>
            <td> <input id="clockIn" type="time" name="clockIn" th:value="${#temporals.format(currentDay.getClockIn(),'HH:mm')}" ></td>
            <td> <input id="clockOut" type="time" name="clockOut" th:value="${#temporals.format(currentDay.getClockOut(),'HH:mm')}" ></td>
            <td> <input id="lunchStart" type="time" name="lunchStart" th:value="${#temporals.format(currentDay.getLunchStart(),'HH:mm')}" ></td>
            <td> <input id="lunchEnd" type="time" name="lunchEnd" th:value="${#temporals.format(currentDay.getLunchEnd(),'HH:mm')}"></td>
            <td th:text="${#numbers.formatDecimal(currentDay.calculateDailyHours(), 1, 2)}"></td>
            <td> <input type="submit" value="Change"> </td>
        </form>
    </tr>
    
</table>

</body>
</html>