<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="reset.css">
    <link rel="stylesheet" type="text/css" href="base.css">
    <link rel="stylesheet" type="text/css" href="layout.css">
    <link rel="stylesheet" type="text/css" href="modules.css">
</head>
<body>
    <header>
        <div th:replace="fragments/navbar :: navbar(${userFirstName}, ${isLoggedIn}, ${currentPage})"></div>
    </header>
    <div class="main_content">
        <h1 class="home_title">Apprentice Dashboard</h1>
        <p>We can help make your OJT clock-in process easier.</p>

        <div th:if="${isLoggedIn == false}">
            <p class="home_cta">Before we get started, be sure to log in or
                <a th:href="@{'/signup'}" method="GET">sign up</a>.</p>
<!--            <h3>Log In:</h3>-->
            <form action="/login" method="POST">
                <input type=text name="username"  placeholder="username" required/>
                <input type=password name="password" placeholder="password" required/>
                <input type="submit"/>
            </form>
        </div>

        <div th:if="${isLoggedIn == true}">
            <p class="home_cta">Get started by <a th:href="@{'/recordHour'}">clocking in</a>.</p>
        </div>
    </div>

</body>
</html>