<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title> Record Hour</title>
</head>
<body>

<!--<form  th:if="${!sessionStatus && !followerStatus} " action="/individualUser" method="GET" >-->
<!--    <button style=" margin-bottom: 15px; background-color: #4CAF50; color: white;" name="username" type="submit" th:value="${currentUser.username}">Follow</button>-->
<!--</form>-->

<h2>TIME PERIOD</h2>
<form action="/recordHour" method="POST">

    <button type="submit" name="clockIn"
            value="clockInValue">Clock In</button>

    <button type="submit" name="lunchIn"
            value="lunchInValue">Lunch In</button>

    <button type="submit" name="lunchOut"
            value="lunchOutValue">Lunch Out</button>

    <button type="submit" name="clockOut"
            value="clockOutValue">Clock Out</button>
</form>







</body>
</html>