<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Timesheet Summary</title>
</head>
<body>
<header>
    <div th:replace="fragments/navbar :: navbar(${userFirstName}, ${isLoggedIn})"></div>
</header>
<h2>Summary</h2>
<div>
    <p>User name: <span th:text="${user.username}"></span></p>
    <p>Name: <span th:text="${user.lastName}"></span>,
        <span th:text="${user.firstName}"></span>
    </p>
    <p>Manager: <span th:text="${user.managerName}"></span></p>



</div>
<div>
    <form action="/summary">
        Date:<br>
        <input type="date" name="fromDate">
        <input type="date" name="toDate">
        <input type="submit">
    </form>
</div>



<table class="tableTimesheet">
    <thead>
    <tr>
        <th>Day</th>
        <th>Date</th>
        <th>Time In</th>
        <th>Time Out</th>
        <th>Lunch</th>
        <th>Daily Worked Hours</th>
    </tr>
    </thead>
    <tbody>

    <tr th:each="day : ${days}">
        <td th:text="${#temporals.dayOfWeekName(day.clockIn)}"></td>
        <td th:text="${#temporals.format(day.clockIn, 'MM-dd-yyyy')}"></td>
        <td th:text="${#temporals.format(day.clockIn, 'HH:mm')}"></td>
        <td th:text="${#temporals.format(day.clockOut, 'HH:mm')}"></td>
        <td th:text="${#numbers.formatDecimal(day.calculateLunch(), 1, 2)}"></td>
        <td th:text="${#numbers.formatDecimal(day.calculateDailyHours(), 1, 2)}"></td>
        <td><a th:href="'/edit/' + ${day.getId()}"><span>Edit</span></a></td>
    </tr>

    </tbody>
</table>
<p>Total Hours: <span th:text="${#numbers.formatDecimal(totalHours, 1, 2)}"></span></p>


</body>
</html>