<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Timesheet Summary</title>
</head>
<body>
<header>
    <div th:replace="fragments/navbar :: navbar(${userFirstName}, ${isLoggedIn})"></div>
</header>
<h2>Summary</h2>
<div>
    <p>User name: <span th:text="${user.username}"></span></p>
    <p>Name: <span th:text="${user.lastName}"></span>,
        <span th:text="${user.firstName}"></span>
    </p>
    <p>Manager: <span th:text="${user.managerName}"></span></p>



</div>
<div>
    <label for="report-select">Select range for the report:</label>
    <select id="report-select">
        <option value="weekly">Weekly</option>
        <option value="biweekly">Bi-weekly</option>
        <option value="monthly">Monthly</option>
    </select>

    <form action="/summary">
        Date:<br>
        <input type="date" name="month" th:value="${#temporals.format(localDate, 'yyyy-MM-dd')}">
        <input type="submit">
    </form>
</div>

<table class="tableTimesheet">
    <thead>
    <tr>
        <th>Day</th>
        <th>Date</th>
        <th>Time In</th>
        <th>Time Out</th>
        <th>Lunch</th>
        <th>Daily Worked Hours</th>
    </tr>
    </thead>
    <tbody>

    <!--<tr th:each="day : ${days}">-->
        <!--<td text="Sunday"></td>-->
        <!--<td th:text="${day.}">Onions</td>-->
        <!--<td th:text="${prod.price}">2.41</td>-->
        <!--<td th:text="${prod.inStock}? #{true} : #{false}">yes</td>-->
    <!--</tr>-->

    </tbody>
</table>

</body>
</html>